body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(121, 215, 249);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
}
.guests {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guestLi {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 200px;
  background-color: white;
}

.name {
  padding-right: 3rem;
  padding-left: 0;
}

li:hover {
  background-color: aquamarine;
  cursor: grab;
}
